body, html{
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

img {
  width: 100%;
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

.brewery_inner {
  margin-top: 30px;
  border: 1px solid black;
  text-align: center;
}

.beer_inner {
  margin-top: 30px;
  border: 1px solid black;
  text-align: center;
}

.flash {
  margin-top: 40px;
  text-align: center;
}

.form_row {
  margin-bottom: 20px;
}

.form-inline p {
  margin: 0;
}

#info {
  margin-top: 20px;
}

#info .attributes {
  text-align: center;
  margin-top: 20px;
}

.outer_login {
  margin-top: 20px;
  padding-right: 15px;
}

#signInButton {
  margin-top: 50px;
}
