<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="sytles.css")}}">
</head>
<body>
  <h1>{{brewery.name}}</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <a href='{{url_for('newBeer', brewery_id = brewery.id)}}'>Add a new beer</a>
  </br>
  </br>

  {% for i in beers %}
  {{i.name}}
  </br>
  <a href='{{url_for('editBeer', brewery_id = brewery.id, beer_id = i.id)}}'>Edit</a>
  <a href='{{url_for('deleteBeer', brewery_id = brewery.id, beer_id = i.id)}}'>Delete</a>
  </br>
  </br>
  {% endfor %}

</body>
</html>
