<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="sytles.css")}}">
</head>
<body>
  <h1>Austin Breweries</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li><strong>{{message}}</strong></li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <a href='{{url_for('newBrewery')}}'>Add a Brewery</a>
  </br>
  </br>

  {% for brewery in breweries %}
  <a href='{{url_for('breweryBeers', brewery_id = brewery.id)}}'>{{brewery.name}}</a>
  </br>
  </br>
  {% endfor %}

</body>
</html>
