<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/styles.css")}}">
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/bootstrap.min.css")}}">
</head>
<body>
  <header class="container">
    <div class="row">
      <h1>Austin Breweries</h1>
    </div>
  </header>

  <section id="breweries" class="container">
    <div class="row">
      {% for brewery in breweries %}
        <div class="brewery col-md-3">
          <a class="brewery_inner col-md-12 btn btn-default" href='{{url_for('brewery', brewery_id = brewery.id)}}'>
            {{brewery.name}}
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="brewery col-md-3">
          <a class="brewery_inner col-md-12 btn btn-success" href='{{url_for('newBrewery')}}'>
            Add a Brewery
          </a>
      </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <p class="flash col-md-3">**{{message}}**</p>
          {% endfor %}
        {% endif %}
        {% endwith %}
      </div>
    </div>
  </section>
  <script src="{{url_for('static', filename='js/bootstrap.js')}}" />
</body>
</html>
