<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/styles.css")}}">
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/bootstrap.min.css")}}">
</head>
<body>
  <header class="container">
    <div class="row">
      <h1>Delete Brewery</h1>
    </div>
  </header>
  <section id="info" class="container">
    <div class="row">
      <p class="col-md-12">
        Are you sure you want to delete {{brewery.name}}?
      </p>
      <form action="{{url_for('deleteBrewery', brewery_id = brewery.id)}}" method="post">
        <div class="form_row col-md-3">
          <input class="btn btn-success col-md-12" type='submit' value='Delete'>
        </div>
        <a class="btn btn-danger col-md-3" href="{{url_for('brewery', brewery_id = brewery.id)}}">
          Cancel
        </a>
      </form>
    </section>
    <script src="{{url_for('static', filename='js/bootstrap.js')}}" />
  </div>
</body>
</html>
