<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/styles.css")}}">
  <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="css/bootstrap.min.css")}}">
</head>
<body>
  <header class="container">
    <div class="row">
      <h1>Edit Beer</h1>
    </div>
  </header>
  <section id="edit_beer" class="container">
    <form class="form" action="{{url_for('editBeer', brewery_id = brewery_id, beer_id = beer.id)}}" method='post'>
      <div class="row">
        <div class="form-inline form_row col-md-6">
          <p>Name:</p>
          <input class="form-control" type='text' size='50' name='name' value="{{beer.name}}">
        </div>
        <div class="form-inline form_row col-md-6">
          <p>Style:</p>
          <input class="form-control" type='text' size='50' name='style' value="{{beer.style}}">
        </div>
        <div class="form-inline form_row col-md-6">
          <p>ABV:</p>
          <input class="form-control" type='text' size='50' name='abv' value="{{beer.abv}}">
        </div>
        <div class="form-inline form_row col-md-6">
          <p>IBU:</p>
          <input class="form-control" type='text' size='50' name='ibu' value="{{beer.ibu}}">
        </div>
        <div class="form-inline form_row col-md-12">
          <p>Description:</p>
          <input class="form-control" type='text' size='134' name='description' value="{{beer.description}}">
        </div>
        <div class="form-inline form_row col-md-12">
          <p>Ingredients:</p>
          <input class="form-control" type='text' size='134' name='ingredients' value="{{beer.ingredients}}">
        </div>
      </div>
      <div class="row">
        <div class="form_row col-md-3">
          <input class="btn btn-success col-md-12" type='submit' value='Save'>
        </div>
        <a class="btn btn-danger col-md-3" href="{{url_for('beer', brewery_id = brewery_id, beer_id = beer.id)}}">
          Cancel
        </a>
      </div>
    </form>
  </section>
  <script src="{{url_for('static', filename='js/bootstrap.js')}}" />
  </body>
</html>
